/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
::-moz-selection {
	background: #f2c2c9;
	color: #a4003a;
	text-shadow: none;
}

::selection {
	background: #16a085;
	color: #a4003a;
	text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}


/* ==========================================================================
   General styles
   ========================================================================== */

body {
	
	font-weight: 600;
	font-size: 170%;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h5 {
	float: left;
	padding-left: 40px;
	color: #399F5F;
}

h2,
h4,
h6 {
	font-weight: 900;
	color: #399F5F;
}

.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #399F5F;
	text-shadow: 0 0 2px black;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	text-shadow: 0 0 3px black;
}

.navbar-default .navbar-nav> .active> a,
.navbar-default .navbar-nav> .active> a:focus {
	color: #399F5F;
	background-color: transparent;
	text-decoration: underline;
}

.navbar-default .navbar-nav a:hover {
	color: transparent;
	text-decoration: underline;
	background: transparent;
}
.navbar-default .navbar-nav> li> a {
	color: #399F5F;
	border-bottom-color: #399F5F;
	
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/Seattle_backalley_street_DARK.jpg) no-repeat center top;
	padding-top: 250px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 70px;
	font-weight: 650px;
	color: #399F5F;
	text-shadow: 4px 4px black;
}

hr {
	text-align: center;
    width: 450px;
    border-top: 2px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#headerwrap h4 {
	text-align: center;
	color: white;
	font-weight: 700;
	text-shadow: -2px 2px black;
}

#Aboutwrap {
	padding: 25px;
	background-color: white;
}

/*#Portfolio {
	visibility: hidden;
}

/*#AboutMe{
  width:100%;
  height:400px;
  background: white;
  color:white;
  font-size:150%;
}*/


/*  About Me list hover effects  */

.About ul {
	list-style-type: none;
}


/*  Social list hover effects  */

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #399F5F;
}

#social i :hover {
	
	color: #4a4a4a;
}


#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
	color: #f2f2f2;
	margin-left: 10px;
}

.footerInfo p {
	position: center center;
}

.footerInfo a {
	color: white;
}

#footerBrand {
	text-emphasis-color: 399F5F;
}

#workwrap {
	background: url(../img/Portrait-with-OrangeBG-650x975.png) no-repeat center top;
	padding-top: 250px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#workwrap h1 {
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* Gallery 

.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.3;
	color: #18ABAB;
}